  	<footer role="contentinfo">
      <div>
        <div>
          <a href="https://idl.fh-potsdam.de"><img class="logo-idl" src="/images/logo-idl-white.svg" alt="IDL - Interaction Design Lab" /></a>
          <a href="https://www.fh-potsdam.de"><img class="logo-fhp" src="/images/logo-fhp-white.svg" alt="{{ translations.fhp[locale] }}" /></a>
        </div>
        <div>
          <ul>
            <li>{{ translations.footer.study[locale] | safe }}<br /><br /></li>
            <li><a href="https://www.fh-potsdam.de/interfacedesign/">{{ translations.footer.interface[locale] | safe }}</a></li>
            <li><a href="https://www.fh-potsdam.de/studieren/fachbereiche/design/studiengaenge/produktdesign/">{{ translations.footer.product[locale] | safe }}</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href="https://github.com/FH-Potsdam/teaching-parametric-design/issues">{{ translations.footer.feedback[locale] }}</a></li>
            <li><a href="/{{locale}}/legal">{{ translations.footer.legal[locale] }}</a></li>
            <li><a href="/{{locale}}/privacy">{{ translations.footer.privacy[locale] }}</a></li>
          </ul>
        </div>
      </div>
    </footer>