{% macro filter(inspiration, translations, locale) %}
<ul>
  <li><a data-class="all">{{translations.inspiration.all[locale]}}</a></li>
{% set filters = [] %}
{% set filterObjs = [] %}

{% for f in inspiration %}
{% if not f.category in filters %}
{% set filters = (filters.push(f.category), filters) %}
{% endif %}
{% endfor %}

{% for f in filters %}
{% set filterObjs = (filterObjs.push([filters[loop.index0], translations.inspiration[filters[loop.index0]][locale]]), filterObjs) %}
{% endfor %}

{% for f in filterObjs | sort(false, true, 1) %}
<li><a data-class="{{f[0]}}">{{f[1]}}</a></li>
{% endfor %}
</ul>
<script>
    let currentDataClass = null;
    document.querySelectorAll('a[data-class]').forEach(el => {
      el.addEventListener('click', (event) => {
        const cl = event.target.getAttribute('data-class');
        console.log(cl);
        document.querySelectorAll('a[data-class]').forEach(el => el.className = '');
        if (cl === 'all' || cl === currentDataClass) {
          currentDataClass = null;
        } else {
          currentDataClass = cl;
          document.querySelector('a[data-class="' + cl + '"]').className='active';
        }
        document.querySelectorAll('.inspiration-item').forEach(el => {
          if (!currentDataClass) {
            el.classList.remove('inactive');
          } else if (!el.classList.contains('inspiration-' + currentDataClass)) {
            el.classList.add('inactive');
          } else {
            el.classList.remove('inactive');
          }
        });
      });
    });
</script>
{% endmacro %}

{% macro list(inspiration, translations, locale) %}
<ul>
{% for i in inspiration | sort(false, true, 'name') %}
{% for ii in i.images %}
<li class="inspiration-item inspiration-{{i.category}}" style="background-image:url(/images/inspiration/{{ ii.src }}.jpg);">
<div>
{% if loop.index0 == 0 %}
<h5>{{ translations.inspiration[i.category][locale] }}</h5><br />
<h4>{{ i.name }}</h4><br />
{% endif %}
<p class="credit">{{ii.credit}}</p>
</div>
</li>
{% endfor %}
{% endfor %}
</ul>
{% endmacro %}