body, html {
  padding:0;
  margin:0;
  height:100%;
  overflow:hidden;
}

canvas {
  max-width: 100%;
  height:auto;
  margin:0 auto;
}

main {
  margin:0;
  padding:0;
  height:100%;
  overflow:hidden;
  text-align:center;
}